
<div>
  <ul>
  <%=form_for @note ,url: {controller: 'notes', action: 'create'} do |f| %>
    <li><strong><%= f.label "Title" , class: "title", size:"30x6"%></strong></li>
    <li><%= f.text_field :title, class:"body" %></li>
    <li><strong> <%= f.label "Body" , class: "title"%></strong></li>
    <li><%= f.text_area :body,class: "body", size: "60x12" %></li>
    <li><%= f.submit "Create Note" %></li>
  <% end %>
  </ul>
</div>
