<div class="header">
  <h1 class="title">A Penny For Your Thoughts</h1>
  <%= link_to 'New Note', new_note_path, class: "newbutton" %>
</div>
<div class="notes col-md-offset-2 col-md-8">
  <ul>
  <% @note.each do |note| %>
    <li><strong>Title:</strong></li>
    <li><%= note.title %></li>
    <li><strong>Body:</strong></li>
    <li><%= note.body %></li>
    <li><%= link_to 'Edit', edit_note_path(note) %></li>
    <li><%= link_to 'Delete', note_path(note), method: :delete, data: { confirm: 'Are you sure?' } %></li>
  <% end %>
 </ul>
</div>
